---
import Layout from '../../layouts/Layout.astro'; // Or your main layout
import BetaSignup from '../../components/BetaSignup.astro';
---

<Layout title='Join the Beta | SnowTracks'>
	<main
		class='h-[calc(100%-18rem)] flex flex-col items-center justify-center'
	>
		<BetaSignup />
	</main>
</Layout>
